*/.venv/
*/.env
frontend/.next/
frontend/node_modules/
**/venv/
__pycache__/
*.pyc
.venv/
*/media/
/backend/app/api/media/
backend/backend/local_db/chat_messages.json
backend/backend/local_db/chat_sessions.json
backend/local_db/chat_messages.json
backend/local_db/chat_sessions.json
backend/generated_manim/manim.py
